<% include header %>

    <h3 class="text-center text-muted">Recent Posts</h3>

 <% if (entries.length) { %>
   <% entries.reverse().forEach(function(entry) { %>
     <div class="panel panel-default">
         <div class="panel-heading">
            <div class="text-muted pull-right">
                        <%= entry.published %>
            </div>
                <h3><%= entry.title %></h3> 
              
         </div>
                <div class="panel-body lead">
                    <%= entry.body %>
                </div>
     </div>
            <% }) %>
                <% } else { %>
                    No entries!
            <a href="/new">Add one!</a>
            <% } %>
            
 <% include footer %>